<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-chip color="minhacor">
    <ion-avatar>
      <img src="https://scontent.fvcp4-1.fna.fbcdn.net/v/t1.6435-9/106019758_3248382118518061_2235469630668125376_n.jpg?_nc_cat=105&ccb=1-4&_nc_sid=09cbfe&_nc_ohc=ByB-PntLgFkAX9tKadm&_nc_ht=scontent.fvcp4-1.fna&oh=011d30b32f55e7068bd898803022548e&oe=613B9097">
    </ion-avatar>
    <ion-label>Eliton C..</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip>


  <button class="ion-activatable ripple-parent">
    A button with an unbounded ripple effect
    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
  </button>

</ion-content>
